h1{
    color:midnightblue;
    font-size: 50px;
    font-family: cursive;
    background-color:darksalmon;
}

h2{
    font-size: 30px;
    color:rgb(247, 36, 95);
    font-family:fantasy;
}

h4{
    color: chocolate;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*{
    background-color: rgb(245, 207, 229);
}

li{
    color: rgb(69, 76, 141);
}