h1{
    color:orchid;
    font-size: 50px;
    font-family: cursive;
    background-color:mediumturquoise;
}

h2{
    font-size: 30px;
    color:lightcoral;
    font-family:fantasy;
}

h4{
    color: chocolate;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*{
    background-color: lemonchiffon;
}

li{
    color: darkred;
}